@import "../lib/variables";
@import "../lib/medias";

.navbar {
  grid-area: Navbar;
}

.navbar__container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 9rem;
  height: 9rem;
}

.navbar__menu {
  width: 25%;
  height: 3rem;

  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  & .navbar__item {
    & .navbar__link {
      font-size: 1.5rem;
      cursor: pointer;
      font-weight: 600;
      text-decoration: none;
    }
  }
  @include respond-to(small) {
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;

    background-color: $darkmaincolor;

    clip-path: circle(0 at 50% -5%);
    -webkit-clip-path: circle(0 at 50% -5%);
    transition: all 1s ease-in-out;

    pointer-events: none;
    & .navbar__item {
      display: none;
    }

    &.active {
      clip-path: circle(200vh at 50% -5%);
      -webkit-clip-path: circle(200vh at 50% -5%);

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      pointer-events: all;
      & .navbar__item {
        display: block;
      }
    }
  }
}

.mobile-menu {
  display: none;

  @include respond-to(small) {
    display: initial;

    z-index: 2;
    margin-top: 1rem;

    cursor: pointer;
    & .line1,
    .line2,
    .line3 {
      width: 2.5rem;
      height: 0.4rem;
      margin-bottom: 0.4rem;
      background-color: $maincolor;

      border-radius: 2rem;

      transition: 0.4s;
    }

    &.open {
      & .line1 {
        transform: rotate(-45deg) translate(-0.65rem, 0.4rem);
        -webkit-transform: rotate(-45deg) translate(-0.65rem, 0.4rem);
      }
      & .line2 {
        opacity: 0;
        transition: 0.2s;
      }
      & .line3 {
        transform: rotate(45deg) translate(-0.65rem, -0.4rem);
        -webkit-transform: rotate(45deg) translate(-0.65rem, -0.4rem);
      }
    }
  }
}
