@import "../lib/_variables";

/* Styles */
.Wrapper {
  background-color: $backgroundcolor;
  overflow: scroll;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5rem 1fr 7rem;
  grid-template-areas:
    "Navbar"
    "."
    "Footer";
}

.search-box {
  grid-area: Search;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box .search-bar {
  display: block;
  width: 70%;
  padding: 1rem;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: $maincolor;
  border-radius: 0 0 1rem 1rem;

  font-size: 1rem;
  color: $fontcolor;

  transition: 0.4s ease;
}

.search-bar::placeholder {
  color: $fontcolor;
}

.search-box .search-bar:focus {
  background-color: rgba($darkmaincolor, $alpha: 0.75);
}
