@import "../lib/_variables";
@import "../lib/medias";

/* Styles */
.Wrapper {
  min-height: 100%;
  background-color: $backgroundcolor;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9rem 1fr;
  grid-template-areas:
    "Navbar"
    ".";
}
