@import "../lib/variables";
@import "../lib/medias";

.hero {
  width: 100%;
  height: 100%;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;

  margin-bottom: 2rem;

  & .hero__text {
    width: 40%;
    margin-right: 1.5rem;

    & h1 {
      color: $fontcolor;
      font-size: 3rem;
      text-align: center;
      & strong {
        font-weight: 700;
        color: $maincolor;
        font-size: 4rem;
      }
    }
  }

  & .hero__img {
    width: 38rem;
    height: 38rem;
  }

  @include respond-to(medium) {
    flex-direction: column;

    & .hero__text {
      width: initial;
      margin-right: initial;
      & h1 {
        font-size: 2.5rem;
        & strong {
          font-size: 3rem;
        }
      }
    }

    & .hero__img {
      width: 30rem;
      height: 30rem;
    }
  }

  @include respond-to(small) {
    flex-direction: column;
    margin-bottom: 1.5rem;

    & .hero__text {
      width: initial;
      margin-right: initial;
      & h1 {
        font-size: 1.5rem;
        & strong {
          font-size: 1.8rem;
        }
      }
    }

    & .hero__img {
      width: 15rem;
      height: 15rem;
    }
  }
}

.hero__cta {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $moredarkmaincolor;

  width: 20rem;
  height: 5rem;

  border: 3px solid $maincolor;
  border-radius: 1.7rem;

  & .cta__link {
    color: $fontcolor;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
  }

  @include respond-to(medium) {
    width: 15rem;
    height: 5rem;

    & .cta__link {
      font-size: 1.8rem;
    }
  }

  @include respond-to(small) {
    width: 10rem;
    height: 4rem;

    & .cta__link {
      font-size: 1rem;
    }
  }
}
